module BLUEPRINT_TARGET_MODULE

go 1.25

require (
	github.com/go-chi/chi/v5 v5.2.1
	github.com/go-playground/validator/v10 v10.27.0
	github.com/golang-migrate/migrate/v4 v4.19.1
	github.com/google/uuid v1.6.0
	github.com/jackc/pgx/v5 v5.7.5
	github.com/nhalm/canonlog v0.3.1
	github.com/nhalm/chikit v1.0.2
	github.com/nhalm/pgxkit/v2 v2.0.0
	github.com/nhalm/shortuuid v1.0.2
	github.com/spf13/cobra v1.10.1
	github.com/spf13/viper v1.21.0
	go.uber.org/mock v0.6.0
)

